@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 85vh;
}

.user_pic{
  position: relative;
}
.user_pic::after{
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  background-color: green;
  right: 0;
  top: 0;
  border-radius: 50%;
  outline: white 2px solid;
}